[package]
name = "btreedb"
version = "0.1.0"
edition = "2021"

[dependencies]
byteorder = "1.5"
rustyline = "14.0"

[dev-dependencies]
tempfile = "3.10"
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "bench"
harness = false

